[submodule "ext/verisol"]
	path = ext/verisol
	url = https://github.com/allisterb/verisol.git
[submodule "ext/corral"]
	path = ext/corral
	url = https://github.com/allisterb/corral.git
[submodule "ext/dafny"]
	path = ext/dafny
	url = https://github.com/dafny-lang/dafny.git
